/* .menu-icon>img {
    display: block;
} */
body {
    font-size: 1em;
}
.nav-list {
    display: none;
}
.navigation>a {
    display: block;
    margin-right: 8px;
}
.header-content {
    margin: 0;
}
.menu-mob-content {
    padding: 40px 16px;
}
.mob-info {
    padding-left: 12px;
}
.title {
    height: 60vh;
}
.title-desc {
    width: calc(100vw - 16px);
}
.title>img {
    width: 100vw;
}
.banner {
    right: calc(-100vw - 40px);
    width: calc(100vw - 40px);
}
#tips h2 {
    width: 100%;
    margin-top: 32px;
}
.back, .next {
    margin: 0 !important;
    top: -36px;
}
#demo {
    margin: 0px !important;
    padding: 12px;
    width: calc(100vw - 64px);
}
#headerContent {
    display: none;
}
#fakeMenuIcon {
    display: block;
    position: absolute;
    top: 42px;
    left: 25px;
}
#logo {
    margin-left: 38px !important;
}
#contact {
    margin-top: 4px !important;
    height: 32px;
}
#contact li {
    width: 32px;
    height: 40px;
}
#contact img {
    width: 24px;
    margin: 8px 4px;
}
#products {
    margin-top: 24px;
}
#products>div {
    flex-direction: column !important;
    width: calc(100vw - 48px);
}
#products>div>div {
    padding: 8px 16px;
}
#products>div>div>div:first-child {
    width: calc(100% - 32px - 4px);
}
#demoContent {
    margin-bottom: 80px;
}
#demoBanner {
    min-width: 180px;
}
.steps {
    flex-direction: column;
    padding-bottom: 0;
}
#mainButtonList p, #pButtonList p, #dButtonList p, #cButtonList p, #vButtonList p {
    font-size: 0.8rem;
}
#mainButtonList h5, #pButtonList h5, #dButtonList h5, #cButtonList h5, #vButtonList h5 {
    font-size: 1rem;
}
.reco-grid>div>div {
    flex-direction: column;
}
.card {
    width: 100%;
    max-width: none;
}
#mainTips video {
    height: auto;
    width: 90vw;
    transform: scale(1.25);
    max-height: 70vh;
}
#mainTips h3 {
    padding-bottom: 48px;
}
#mainTipsContainer {
    padding: 8px;
    gap: 8px;
    overflow: hidden;
    padding-bottom: 64px;
    padding-top: 32px;
}
#mainTips i {
    z-index: 120;
    top: 4px;
}
.mainTitle img {
    height: 40vh;
}
.card>:first-child {
    height: 25vh;
}
.page-title {
    font-size: 0.8rem;
}
.title-txt {
    font-size: 1.8rem;
}
.title-txt-cont {
    bottom: 20px;
}