* {
    --primary-color: #69cffe;
    --secondary-color: #11b4ff;
    --third-color: #0e88c1;
    --text-color: white;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
body {
    font-family: 'Quicksand', sans-serif;
    width: 100%;
}
.page-title>h1, .nav-element>p {
    color: var(--text-color);
}
.header {
    background-color: var(--primary-color);
    height: 80px;
    z-index: 2;
}
.header-content {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 16px 0px 16px;
    align-items: center;
}
.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 36px;
}
.nav-list li>p {
    user-select: none;
    text-align: center;
    display: block;
    min-width: 100px;
    background-color: var(--primary-color);
}
.nav-element>a, .nav-element>p {
    padding: 8px;
}
.nav-list>li {
    text-align: center;
    z-index: 2;
}
.nav-list li>a {
    background-color: var(--primary-color);
    color: var(--text-color);
    min-width: 100px;
    display: block;
    border-radius: 1em;
    height: 24px;
}
.nav-list ul>li>a {
    border-radius: 0em;
    padding:  10px;
}
.nav-list li>a:hover {
    background-color: var(--secondary-color);
}
.nav-list li>a:active {
    background-color: var(--third-color);
}
.nav-list li>ul {
    display: none;
}
.nav-list li:hover>ul {
    display: block;
}
.nav-element>ul>li:first-child {
    text-decoration: underline;
    text-decoration-color: white;
}


.title-wrapper {
    height: 40px;
    width: auto;
    padding: 16px;
}
.content-wrapper {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px 16px 32px 16px;
    min-height: 52.4vh;
}

.content-list>ul {
    display: flex;
    flex-direction: column;
}
.content-list button {
    background-color: var(--primary-color);
    border: 1px solid black;
    height: 32px;
    width: 48px;
}
.content-list button:hover {
    background-color: var(--secondary-color);
}
.content-list button:active {
    background-color: var(--third-color);
}
.content-wrapper2>div {
    display: none;
}
.content-wrapper2 {
    height: auto;
    width: 80vw;
    border-radius: 2em;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.4);
}
#c1, #c2, #c3, #c4, #c5, #c6, #c7, #c8 {
    height: auto;
    width: 100%;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 98%;
    align-self: center;
    margin: 8px;
}
.content-element {
    padding: 4px 0px;
}
.content-grid {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 120px);
    column-gap: 10px;
    row-gap: 10px;
    justify-content: space-evenly;
    padding: 0px 8px;
}
.card {
    height: 120px;
    width: 120px;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.card>img {
    height: 80px;
}


.footer-wrapper {
    background-color: var(--primary-color);
}
.footer-elements {
    padding: 32px;
}